---
http_interactions:
- request:
    method: get
    uri: https://api.bitso.com/v3/ticker?book=xrp_mxn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":{"high":"29.34","last":"27.40","created_at":"2018-01-18T06:40:04+00:00","book":"xrp_mxn","volume":"10558960.38652415","vwap":"23.85899862","low":"27.00","ask":"27.40","bid":"27.25"}}'
  recorded_at: Thu, 18 Jan 2018 06:40:05 GMT
recorded_with: VCR 4.0.0
