---
http_interactions:
- request:
    method: get
    uri: https://api.bitso.com/v3/ticker?book=ltc_mxn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":{"high":"3899.99","last":"3720.00","created_at":"2018-01-18T06:45:52+00:00","book":"ltc_mxn","volume":"4389.48137706","vwap":"3565.87439420","low":"3679.76","ask":"3787.64","bid":"3744.39"}}'
  recorded_at: Thu, 18 Jan 2018 06:45:52 GMT
recorded_with: VCR 4.0.0
