---
http_interactions:
- request:
    method: get
    uri: https://api.bitso.com/v3/ticker?book=btc_mxn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":{"high":"242450.00","last":"237000.00","created_at":"2018-01-18T03:30:38+00:00","book":"btc_mxn","volume":"977.33897533","vwap":"205306.31472964","low":"171000.00","ask":"238927.76","bid":"237000.00"}}'
  recorded_at: Thu, 18 Jan 2018 03:30:39 GMT
recorded_with: VCR 4.0.0
