---
http_interactions:
- request:
    method: get
    uri: https://api.bitso.com/v3/ticker?book=eth_mxn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":{"high":"20499.96","last":"19990.00","created_at":"2018-01-18T06:42:56+00:00","book":"eth_mxn","volume":"5785.20587272","vwap":"17743.09213717","low":"19400.08","ask":"20329.81","bid":"19990.00"}}'
  recorded_at: Thu, 18 Jan 2018 06:42:56 GMT
recorded_with: VCR 4.0.0
